# =========================
# OS / Explorer junk
# =========================
.DS_Store
__MACOSX/
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs (se houver projetos .NET/VS)
bin/
obj/
Debug/
Release/

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# Terraform (essencial)
# =========================
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Se você usa este arquivo localmente, não versionar
terraform.tfvars
